#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS ?= -Wall -g
LDFLAGS ?= 
PREFIX ?= $(CURDIR)/debian/tmp/usr
DATADIR ?= /opt

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

CFLAGS += -fPIC -rdynamic 
LDFLAGS += -Wl,--rpath=$(PREFIX)/lib -Wl,--as-needed

ifeq (armel, $(DEB_HOST_ARCH))
         CFLAGS += -mcpu=cortex-a8 -mfpu=neon -ftree-vectorize -mfloat-abi=softfp -fsingle-precision-constant
endif

#BOOST_LIBS = date_time,filesystem,graph,math,program_options,random,regex,serialization,signals,system,thread,wave
BOOST_LIBS = filesystem,program_options,system,thread

# shared library versions, option 1
version=1.0.0
major=1

config.status: 
	dh_testdir
	# Add here commands to configure the package.
#	mkdir -p obj-$(DEB_BUILD_GNU_TYPE)
#	cd obj-$(DEB_BUILD_GNU_TYPE) && \
#
	./bootstrap.sh --prefix=$(PREFIX) --with-libraries=$(BOOST_LIBS)
	./bjam

build: build-stamp
build-stamp:  config.status
	dh_testdir

	# Add here commands to compile the package.
#	cd obj-$(DEB_BUILD_GNU_TYPE) && \
	$(MAKE)

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	# Add here commands to clean up after the build process.
#	-$(MAKE) distclean
#ifneq "$(wildcard /usr/share/misc/config.sub)" ""
#	cp -f /usr/share/misc/config.sub config.sub
#endif
#ifneq "$(wildcard /usr/share/misc/config.guess)" ""
#	cp -f /usr/share/misc/config.guess config.guess
#endif

	dh_clean

	rm -rf obj-*

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/tmp
	mkdir -p $(PREFIX)
	mkdir -p $(PREFIX)/include
	cp -rf boost $(PREFIX)/include
	cp -rf stage/lib $(PREFIX)

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installchangelogs
#	dh_installdocs
#	dh_installexamples
	dh_install --sourcedir debian/tmp
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link
#	dh_strip
#	dh_strip --dbg-package=libstk1.0-0-dbg
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
